{% extends 'base.html.twig' %}

{% block title %}New Picture{% endblock %}

{% block body %}
    <h1>Create new Picture</h1>
    <p>Select the picture you want to upload</p>
    <hr/>

    {{ include('picture/_form.html.twig') }}
{% endblock %}
