{% extends 'base.html.twig' %}

{% block title %}Hello MainController!{% endblock %}

{% block body %}
<div class="row">
    <div class="col-lg-12 text-center mt-4">
        <h1 class="w-75 mx-auto">Welcome on Hostimage, The free image hosting platform.</h1>
        <p class="lead">
            Upload your images and link them to your projects exactly like a CDN.
        </p>
        {% for flashMessage in app.session.flashbag.get('success') %}
        <div class="alert alert-success mx-auto" role="alert" style="width: 60%;">
            {{ flashMessage }}
        </div>
        {% endfor %}
        <p class="pt-2">
            <img src="img/code2.png" alt="code" style="width: 60%;" />
        </p>
        <p>
            <a class="github-button" href="https://github.com/sponsors/ebenezer10" data-icon="octicon-heart"
                data-size="large" aria-label="Sponsor @ebenezer10 on GitHub">Sponsor</a>
        </p>
    </div>
</div>
{% endblock %}